@charset "UTF-8";

@media screen and (max-width: 589px) {

    #menu ul {
        display: none;
    }

    nav#menu span  {
        display: block;
        font-size: 2.3em;
        cursor: pointer;
        margin-top: 8px;
    }

    #projetos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        background-color: #1b1b1b;
        border-radius: 20px;
        padding: 10px;
    }

    #projetos > div {
        flex-direction: column;
        background-color: #303030;
        width: 375px;
        padding-right: 0px;
        gap: 10px;
    }

    #projetos > h2 {
        width: 100%;
        text-align: center;
    }

    #projetos img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    #text {
        align-items: center;
    }

    #text a {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    section#dados {
        flex-direction: column;
    }

    #divcontato {
        width: 47vw;
    }

    div#contato h2, div#redes h2 {
        text-align: left;
    }

    #linha {
        display: none;
    }

}

@media screen and (min-width: 590px) and (max-width: 1200px) {
    #projetos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
        background-color: #1b1b1b;
        border-radius: 20px;
        padding: 10px;
    }

    #projetos > div {
        flex-direction: column;
        background-color: #303030;
        width: 375px;
        padding-right: 0px;
        gap: 10px;
    }

    #projetos > h2 {
        width: 100%;
        text-align: center;
    }

    #projetos img {
        width: 100%;
        border-radius: 15px 15px 0px 0px;
    }

    #p1 img {
        height: 394px;
    }

    #p1 > #text p {
        height: 193px;
    }

    #p2 img {
        height: 395px;
    }

    #p3 img {
        height: 365px;
    }

    #p3 > #text p {
        height: 195px;
    }

    #p4 img {
        height: 365px;
    }

    #p4 > #text p {
        height: 194px;
    }

    #p5 {
        display: block;
        width: 50vw;
    }

    #p5 img {
        height: 375px;
    }

    #p6 > #text p {
        height: 195px;
    }

    #text {
        align-items: center;
        padding: 10px;
    }
}