@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
        color: aliceblue;
    }

    html {
        scroll-behavior: smooth;
    }
    
    body {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        background-color: #0f0f0f;
    }

    header, main, footer {
        margin: auto;
        max-width: 1000px;
    }
    
    header {
        display: flex;
        flex-direction: row;
        position: relative;
        margin-top: 30px;
        width: 90%;
        border-radius: 20px;
        background-color: #1d1d1d;
    }
    
    main {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        line-height: 1.5em;
        gap: 40px;
        font-size: 1.3em;
        border-radius: 10px;
        width: 90%;
        margin-bottom: 20px;
    }

    main > #info {
        width: 90vw;
        text-align: left;
        font-size: 0.8em;
    }
    
    section#dev, section#info, section#dados {
        background-color: #1b1b1b;
        padding: 10px;
        border-radius: 20px;
        padding-bottom: 20px;
    }

    img#dev {
        display: none;
    }

    /*Seção Menu*/

    header img#logo {
        width: 7rem;
        position: absolute;
        top: -28px;
    }

    #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
        height: 100%;
        padding: 10px;
    }

    #itens {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    #menu a {
        font-size: 1.2em;
        text-decoration: none;
        color: aliceblue;
        padding: 15px;
        border-radius: 20px;
    }

    #menu a:hover {
        background-color: #054c4e;
        transition-duration: 0.5s;
    }
    
    nav#menu span {
        display: none;
    }

    #menu #icone {
        width: 2rem;
    }

    #menu2 {
        display: none;
        width: 90vw;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
    }

    #itens2 {
        display: flex;
        height: 100vh;
        gap: 40px;
        flex-direction: column;
        border-radius: 20px 0px 0px 20px;
        background-color: #1d1d1d;
    }

    span#caixa2 {
        width: 85vw;
        display: flex;
        justify-content: space-between;
    }

    span#caixa2 > img#logo2 {
        width: 7rem;
    }

    nav#menu2 > ul > a {
        font-size: 1.05em;
        text-decoration: none;
        color: aliceblue;
        padding-left: 27px;
        border-radius: 20px;
        font-weight: bold;
        transition-duration: 0.2s;
    }

    nav#menu2 > ul > a:hover {
        transform: translateX(5px);
        color: #054c4e;
    }


    /*Seção Dev*/

    section#dev {
        width: 100%;
    }

    section#dev > div#text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    section#dev > div > h2 {
        margin-bottom: 30px;
        font-size: 1.7em;
        text-align: center;
        font-family: "Atkinson Hyperlegible Mono";
    }
    
    #dev a {
        margin: 20px;
        background-color: #054c4e;
        color: aliceblue;
        padding: 10px;
        width: 130px;
        border-radius: 20px;
        text-decoration: none;
    }
    
    #dev a:hover {
        background-color: #00949A;
        transition-duration: 0.5s;
    }
    
    div > span#logo {
        background-image: linear-gradient(to top ,#00888d, #004a4d, #490a0a);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        font-size: 2em;
        font-weight: bolder;
    }

    @media screen and (max-width: 768px) {
        div > span#logo {
            font-size: 1.8em;
        }
    }
    
    /*Seção Informações*/
    
    section#info {
        position: relative;
        width: 100%;
    }

    #info h2 {
        padding-right: 90px;
    }

    #info h3 {
        padding-bottom: 15px;
    }
    
    section#info > img {
        width: 6rem;
        position: absolute;
        top: 0;
        right: 0;
    }

    #info p {
        border-top: 2px solid aliceblue;  
        padding-top: 10px;
        margin-top: 10px;
    }


    /*Seção Projetos*/

    #projetos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: #0f0f0f;
        gap: 30px;
    }

    #projetos h2 {
        font-family: "Atkinson Hyperlegible Mono";
    }

    #projetos > div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        min-height: 700px;
        gap: 50px;
        padding-right: 15px;
        background-color: #1b1b1b;
        border-radius: 20px;
    }


    #projetos img {
        border-radius: 10px 0 0 10px;
        width: 19rem;
    }

    #projetos > div > section#text {
        max-width: 55vw;
        display: flex;
        gap: 7px;
        flex-direction: column;
    }

    #text h3 {
        padding-bottom: 15px;
        font-family: "Atkinson Hyperlegible Mono";
    }

    #p1:hover {
        transform: translate(-5px -5px);
    }

    #text p {
        padding-bottom: 5px;
        font-size: 0.85em;
    }

    section#text > a {
        background-color: #054c4e;
        color: aliceblue;
        padding: 7px;
        width: 90px;
        border-radius: 20px;
        font-size: 0.7em;
        text-decoration: none;
    }

    section#text > a:hover {
        background-color: #00949A;
        transition-duration: 0.5s;
        transform: translate(-2px, -2px);
    }

    /*Seção Contato*/

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #1b1b1b;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 20px;
        width: 90%;
    }

    section#informacoes {
        text-align: center;
        margin-bottom: 20px;
    }

    section#dados {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
    }

    div#contato, div#redes {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    @media screen and (min-width: 768px) {
        div#redes, div#contato {
            width: 39vw;
        }
    }

    section#dados #linha {
        border: 1px solid aliceblue;
    }

    #divcontato, #divredes {
        display: flex;
        align-items: center;
    }

    #contato h2, #redes h2 {
        width: 100%;
    }

    #divcontato span, #divredes a {
        padding-left: 10px;
        text-decoration: none;
    }

    #divredes {
        width: 115px;
    }

    #divredes:hover {
        transform: translate(-2px, -2px);
        transition-duration: 0.3s;
    }